<div>
  <h2><a href=<%= "/election/#{@election.id}"%>><%= @election.name %></a></h2>
  <p><%= @election.description %></p>
  <br>
  <div>
    <h3>Rank the options and cast your ballot (1 is the best rank):</h3>
    <form action=<%= "/election/#{@election.id}/ballot" %> method="POST">
      <% @election.options.each do |option| %>
      <div>
        <input
        type="number"
        step="1"
        min="1"
        placeholder="Rank"
        name=<%= option.param_name %>
        max=<%= "\"#{@election.options.count}\"" %>
        />
        <%= option.name %>
      </div>
      <% end %>
      <div>Your Name: <input name="voter_name" type="text"></input></div>
      <button>Cast your ballot!</button>
    </form>
    <h3>Add An Option</h3>
    <form action=<%= "/election/#{@election.id}/option"%> method="POST">
      <input type="text" name="name"></input>
      <button>Add Option</button>
    </form>
  </div>
</div>
