<div>
    <h2><a href=<%= "/election/#{@election.id}"%>><%= @election.name %></a></h2>
    <p><%= @election.description %></p>
    <small>
      Votes needed: <%= @election.vote_threshold %>
    </small>
    <br>
    <small>
      Status: <%= @election.status %>
    </small>
  </div>
